[submodule "catkin_ws/src/williamedwards/src"]
	path = catkin_ws/src/williamedwards/src
	url = git@github.com:williamedwards/16JetyakSimulator.git
    branch = mckinney
[submodule "catkin_ws/src/turtlebot3_msgs"]
	path = catkin_ws/src/turtlebot3_msgs
	url = https://github.com/ROBOTIS-GIT/turtlebot3_msgs.git
    branch = kinetic-devel
[submodule "catkin_ws/src/turtlebot3"]
	path = catkin_ws/src/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3.git
    branch = kinetic-devel
[submodule "catkin_ws/src/turtlebot3_simulations"]
	path = catkin_ws/src/turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
    branch = kinetic-devel
